# PFM

In [ ]:
import os

In [10]:
os.getcwd()

'/Users/paulamipaul/PFM'

In [1]:
name = "Paulami Paul"
age = 25
CN = 9531022437

Example 1

In [2]:
print("Name-",name,"\nContact-",CN,"\nAge-",age)

Name- Paulami Paul
Contact- 9531022437
Age- 25

Example 2

In [3]:
a, b, c = 10, 20, 30

In [4]:
d = e = f = 80

In [ ]:
name = input("Enter your name")
print(name)

In [ ]:
age = float(input("Enter age"))
print(age)
type(age)

In [ ]:
print("Name",name,"cn",CN,sep='...')

In [ ]:
eq = eval(input("Enter eq :"))
print(eq)

Calculate area of rectangle

In [ ]:
lenght =float(input("Enter lenght "))
breadth = float(input("Enter breadth"))
area = lenght*breadth
print("Area = ",area)

sum of 3 numbers

In [ ]:
n1 = float(input("Enter first number"))
n2 = float(input("Enter second number"))
n3 = float(input("Enter third number"))
Answer = n1+n2+n3
print("Sum =",Answer)

BMI

In [ ]:
w = float(input("Enter weight"))
H = float(input("Enter height"))
bmi = w/(H**2)
print("BMI =",bmi)

In [ ]:
print("The area is ",3.14159 * float(input("Enter radius"))**2)

In [1]:
print(1e308)

1e+308

In [2]:
b = 1.4 + 3j

In [3]:
print(b.real)

1.4

In [5]:
print(b.imag)

3.0

In [6]:
str = "Sachin Tendulkar"

In [7]:
print(str[4])

i

In [12]:
x = str.index("T")

In [11]:
print(x)

7

In [10]:
x = str.find("i",1,8)
print(x)

TypeError: find() argument 1 must be str, not int

In [16]:
print(str[0:6])

Sachin

In [18]:
print(str[5:])

n Tendulkar

In [19]:
print(len(str))

16

In [20]:
y = "chat"

In [21]:
print(y.replace("c","p"))

phat

In [22]:
print(str.(" "))

SyntaxError: invalid syntax (1763952156.py, line 1)

In [11]:
s1 = input("Enter string")
s2 = s1 [ :: -1 ]
if s1 == s2 :
    print("palindrome")
else :
    print("not palindrome")

Enter string level

palindrome

## UNIT 2

In [3]:
m1 = int(input("Enter marks roll no 1"))
m2 = int(input("Enter marks roll no 1"))
if m1 > m2 :
    print("Roll no 1 is topper")
    print("Congratulations roll no 1")
else :
    print("Roll no 2 is topper")
    print("Congratulations roll no 2")

Enter marks roll no 1 45
Enter marks roll no 1 30

Roll no 1 is topper
Congratulations roll no 1

In [7]:
m1 = int(input("Enter marks roll no 1"))
m2 = int(input("Enter marks roll no 1"))
if m1 > m2 :
    print("Roll no 1 is topper")
    print("Congratulations roll no 1")
elif  m1 == m2 :
    print("Congratulations both")
else :
    print("Roll no 2 is topper")
    print("Congratulations roll no 2")
print("Thank you")

Enter marks roll no 1 60
Enter marks roll no 1 60

Congratulations both
Thank you

In [11]:
n = input("Enter username")
p = input("Enter password")
if p == "1234" and n == "paulami" :
    print ("Valid user")
else :
    print ("Invalid user")

Enter username paul
Enter password 1234

Invalid user

In [3]:
n = input("Enter username")
if n == "paulami" :
    p = input("Enter password")
    if p == "1234" :
        print ("Welcome ",n)
    else :
        p = input("Re-enter password")
        if p == "1234" :
            print ("Welcome ",n)
        else :
            print ("Invalid user")
    
else :
    print ("Invaid User")

Enter username paulami
Enter password 123
Re-enter password 1234

Welcome  paulami

Tax problem

In [21]:
income = float(input("Enter income"))
if income < 500000 :
    print ("Tax =" , 0.05*income)
elif income < 1000000:
    print ("Tax =" , 0.10*income)
elif income < 2000000 :
    print ("Tax =" , 0.15*income)
else :
    print ("Tax =" , 0.20*income)

Enter income 300000.8

Tax = 15000.04

## LOOP (while)

In [17]:
num = 10
while num >= 0 :
  print(num)
  num = num - 1
print("Thank you")

10
9
8
7
6
5
4
3
2
1
0
Thank you

In [11]:
num = 1
while num <= 10 :
  print(num**2)
  num = num + 2
print("Thank you")

1
9
25
49
81
Thank you

In [15]:
num = int(input("Enter number"))
i = 1
while i <= 15 :
    print (num , "x", i, "=", num * i)
    i = i + 1
print("Thank you")

Enter number 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
Thank you

while- else

In [13]:
count = 0
while count<3 :
    count = count + 1
    print ("count=", count)
else :
    print ("In Else Block")

count= 1
count= 2
count= 3
In Else Block

## LOOP (for)

In [19]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(1,11,2):
 print(i)

1
3
5
7
9

In [26]:
for i in range(10,0,-2):
 print(i)

10
8
6
4
2

In [ ]:
# for i in range (1,6) :
for i in range (1,6) :
    a = int(input("value 1: "))
    b = int(input("value 2: "))
    if b == 0 :
        print("Invalid number")
    else :
        res = a // b
        print(res)

## BREAK

In [6]:
for i in range(1,6):
    a = int(input("Value 1:"))
    b = int(input("Value 2:"))
    if b == 0:
        print("Invalid number")
        break
    else :
        res = a // b
        print(res)

Value 1: 4
Value 2: 2

2

Value 1: 4
Value 2: 0

Invalid number

## CONTINUE

In [3]:
for i in range (1,20):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [4]:
for i in range (1,20):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

### FIBONNICI SERIES

In [3]:
n1 = 0
n2 = 1
T = int(input("no of terms you want to display"))
cnt = T
print (n1)
print (n2)
while (cnt<= T):
    n3 = n1 + n2
    print (n3)
    n1 = n2
    n2 = n3

no of terms you want to display 7

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

In [5]:
T = int(input(" no. of terms to display "))
n1 = 0
n2 = 1
print (n1)
print (n2)
for i in range (T+1):
    n3 = n1 + n2
    print (n3)
    n1 = n2
    n2 = n3

 no. of terms to display  6

0
1
1
2
3
5
8
13
21

## FUNCTION

In [3]:
def add(a,b):
    c = a+b
    print(c)
add(12,89) 
add(23,85)

101
108

## def add(a,b):
    c = a+b
    print(c)
for x in range(1,4):
    i = int(input("Value 1: "))
    j = int(input("Value 2: "))
    add(i,j)

In [2]:
def add(a,b):
    c = a+b
    print("Addition =", c)
def mult(a,b):
    c = a*b
    print("Multiplication =", c)
    
for x in range(1,5):
    i = int(input("Value 1: "))
    j = int(input("Value 2: "))
    mult(i,j)

Value 1:  4
Value 2:  8

Multiplication = 32

Value 1:  39
Value 2:  78

Multiplication = 3042

Value 1:  98
Value 2:  33

Multiplication = 3234

Value 1:  22
Value 2:  7

Multiplication = 154

In [2]:
def add(a,b):
    c = a+b
    print("Addition =", c)
    return(c)
def mult(a,b):
    c = a*b
    print("Multiplication =", c)
    return(c)
    
i = int(input("Value 1: "))
j = int(input("Value 2: "))
c = add(i,j)
res = c * 10
print(res)

mult(i,j)

Value 1:  5
Value 2:  4

Addition = 9
90
Multiplication = 20

20

In [ ]:
## def tax_calculator(income):
    if income < 500000 :
        tax = 0
    elif income < 100000 :
        tax = income * 0.05
    elif income < 150000 :
        tax = income * 0.10
    elif income < 200000 :
         tax = income * 0.15
    else :
        tax = income * 0.20
    return (tax)
for i in range(1,6):
    I = float(input("Enter your income"))
    T = tax_calculator(I)    
    print("Employee no.",i, "your tax amount is Rs." , T , " for this financial year.")

In [ ]:
def facto(value):

# MODULES

In [11]:
import math
x = math.sqrt(81)
print(x)

9.0

In [14]:
x = math.ceil(1.4)
print(x)

2

In [15]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
import datetime
j = datetime(input("Enter date of joining"))
t = datetime.datetime.now()
res = t - j
print(res)

## UNIT3

## List[ ]

In [14]:
####LIST

In [ ]:
list = ["apple" , "banana" , "cherry"]
print(list)

In [ ]:
fruits = ["apple", "banana" , "kiwi" , "pear" , "orrange" , "jackfruit"]
fruits.count("banana")

In [1]:
fruits = ["apple", "banana" , "kiwi" , "pear" , "orrange" , "jackfruit"]
fruits.reverse()
print(fruits)

['jackfruit', 'orrange', 'pear', 'kiwi', 'banana', 'apple']

### def sub(a,b):
    c = a - b
    print("Subtraction =", c)
for x in range(1,4):
    i = int(input("Value 1"))
    j = int(input("Value 2"))
    sub(i,j)

In [2]:
def sub(a,b):
    c = a - b
    print("Subtraction =", c)
for x in range(1,4):
    i = int(input("Value 1"))
    j = int(input("Value 2"))
    sub(i,j)

Value 1 8
Value 2 90

Subtraction = -82

Value 1 6
Value 2 2

Subtraction = 4

Value 1 60
Value 2 4

Subtraction = 56

## NESTED LIST

In [9]:
matrix = [
    [1,2,3,4],
    [7,8,6,0],
    [9,90,87,22]
] 
print(matrix[0])

[1, 2, 3, 4]

In [10]:
print(matrix[2][1])

90

In [11]:
for i in range(0,3):
    print(matrix[i])

[1, 2, 3, 4]
[7, 8, 6, 0]
[9, 90, 87, 22]

In [12]:
for i in range(0,3):
    for j in range(0,4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [13]:
for i in range (0,len(matrix)):
    for j in range(0,len(matrix[0])):
        matrix[i][j]= matrix[i][j] * 10
        print(matrix)

[[10, 2, 3, 4], [7, 8, 6, 0], [9, 90, 87, 22]]
[[10, 20, 3, 4], [7, 8, 6, 0], [9, 90, 87, 22]]
[[10, 20, 30, 4], [7, 8, 6, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [7, 8, 6, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [70, 8, 6, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [70, 80, 6, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [9, 90, 87, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [90, 90, 87, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [90, 900, 87, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [90, 900, 870, 22]]
[[10, 20, 30, 40], [70, 80, 60, 0], [90, 900, 870, 220]]

In [14]:
L1 = [1,2,3,4]
L2 = L1.copy()
print(L2)

[1, 2, 3, 4]

In [15]:
L2[1]= 2000
print(L2)

[1, 2000, 3, 4]

## zip function

In [18]:
name = ["sam" , "neel" , "suki" , "prabhu"]
roll_no = [ 4 , 2, 3, 6 ]
marks = [30,89,44,90]
mapped = list(zip(name,roll_no,marks))
print(mapped)

[('sam', 4, 30), ('neel', 2, 89), ('suki', 3, 44), ('prabhu', 6, 90)]

## Tuple

In [21]:
T1 = (1,2,3,4,5)
print(T1 [3])

4

## Dictionaries { }

In [2]:
dict1 = { 1:10, 2:20, 3:30, 4:40 }
print("element at key 2 =" , dict1[2])

element at key 2 = 20

In [3]:
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40}

In [4]:
for i in dict1:
    print(i)

1
2
3
4

In [5]:
for i in dict1.keys():
    print(i)

1
2
3
4

In [6]:
for i in dict1.values():
    print(i)

10
20
30
40

In [7]:
for i in dict1.items():
    print(i)

(1, 10)
(2, 20)
(3, 30)
(4, 40)

In [8]:
for i,j in dict1.items():
    print(i, "=" ,j)

1 = 10
2 = 20
3 = 30
4 = 40

In [9]:
dict1

{1: 10, 2: 20, 3: 30, 4: 40}

In [10]:
dict1[2] = 25
dict1

{1: 10, 2: 25, 3: 30, 4: 40}

In [11]:
dict1[10]= 70
dict1

{1: 10, 2: 25, 3: 30, 4: 40, 10: 70}

In [6]:
name = { "N01":"Carrie", "N02":"Samantha", "N03":"Miranda", "N04":"Charllate" }
for i in name.values():
    print(i)

Carrie
Samantha
Miranda
Charllate

In [22]:
name["N04"] = "Charllote"
print(name)

{'N01': 'Carrie', 'N02': 'Samantha', 'N03': 'Miranda', 'N04': 'Charllote'}

In [23]:
name.pop("N03")
print(name)

{'N01': 'Carrie', 'N02': 'Samantha', 'N04': 'Charllote'}

In [8]:
D1 = name.copy()
print(D1)

{'N01': 'Carrie', 'N02': 'Samantha', 'N03': 'Miranda', 'N04': 'Charllate'}

In [9]:
student = {
    "HD101": ["Ram", 7.2],
    "HD102": ["Sangma", 8.2],
    "TM104": ["Puspi", 8.3]
}

In [10]:
print(student)

{'HD101': ['Ram', 7.2], 'HD102': ['Sangma', 8.2], 'TM104': ['Puspi', 8.3]}

In [12]:
print(student["HD101"])

['Ram', 7.2]

In [13]:
print(student["HD101"][1])

7.2

## Nested Dictionary

In [18]:
student = {
    "HD101": {"Name":"Ram","CGPA": 7.2},
    "HD102": {"Name":"Sangma","CGPA": 8.2},
    "TM104": {"Name":"Puspi","CGPA": 6.2}
}

In [17]:
print(student["HD101"]["CGPA"])

7.2

## Sets

In [2]:
s1 = {"apple" , "banana" , "cherry"}
print(s1)

{'cherry', 'apple', 'banana'}

In [3]:
for e in s1:
    print(e)

cherry
apple
banana

In [4]:
s2 ={"apple" , "nuts" , "tomato"}
s3 = s1.union(s2)
print(s3)

{'tomato', 'cherry', 'apple', 'nuts', 'banana'}

In [5]:
print( s1 | s2 )

{'tomato', 'cherry', 'apple', 'nuts', 'banana'}

In [7]:
print( s1 & s2 )

{'apple'}

In [1]:
s4={
    "01":{"Name":"surbhi","Email":"surbhi@gmail.com","order history":["id02","top",200,"1"]},
    "02":{"Name":"rio","Email":"urbhi@gmail.com","order history":["id08","cap",100,"2"]},
    "03":{"Name":"perpendicular","Email":"per@gmail.com","order history":["id04","blade",10,"3"]},
    "04":{"Name":"guru","Email":"guru@gmail.com","order history":["id05","shirt",500,"1"]}
}
print(s4)

{'01': {'Name': 'surbhi', 'Email': 'surbhi@gmail.com', 'order history': ['id02', 'top', 200, '1']}, '02': {'Name': 'rio', 'Email': 'urbhi@gmail.com', 'order history': ['id08', 'cap', 100, '2']}, '03': {'Name': 'perpendicular', 'Email': 'per@gmail.com', 'order history': ['id04', 'blade', 10, '3']}, '04': {'Name': 'guru', 'Email': 'guru@gmail.com', 'order history': ['id05', 'shirt', 500, '1']}}

In [7]:
print(s4["02"]["Email"])

urbhi@gmail.com

In [2]:
l1 = []
for i in range(1,10):
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
l1 = []
for i in range(1,10):
    if i % 3 == 0:
        l1.append(i**2)
print(l1)

[9, 36, 81]

In [7]:
l1 = [i**2 for i in range(1,10) if(i % 3 == 0)]

In [8]:
print(l1)

[9, 36, 81]

In [10]:
s3={}
s3 = {i for i in range(1,20) if i %2 != 0}
print (s3)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [11]:
d1 = {}
for i in range(0,10):
    d1[i] = i**2
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
d1 = { i: i**2 for i in range(1,10) }
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [15]:
L1 = [2,3,4,8,7]

In [17]:
res = 1
for i in range(0, len(L1)):
    res = res * L1[i]
print(res)

1344

In [18]:
L1 = [15,29,3,49]
smallest = L1[0]
for i in range(1,len(L1)):
    if L1[i] < smallest:
        smallest = L1[i]
print(smallest)

3